<body>

    <div class="container">
        <h1>Frequently Asked Questions</h1>
    
        <div class="faq-item">
            <h2>What games are available on CyberCasino?</h2>
            <p>Answer: CyberCasino offers a wide range of games, including slot machines, roulette and much more. Our library is constantly expanding to provide the best online gaming experience.</p>
    
            <h2>What is the minimum age to play on CyberCasino?</h2>
            <p>Answer: The minimum age to play on CyberCasino is 18 years.</p>
    
            <h2>Is CyberCasino licensed and regulated?</h2>
            <p>Answer: No, CyberCasino is not licensed and regulated by reputable gaming authorities.</p>
    
            <h2>What should I do if I have issues with my account or a game?</h2>
            <p>Answer: If you have issues with your account or a game, contact our customer service at the email support&#64;cybercasino.com. Our customer support team is available 24/7 to assist you with any problems you may have.</p>
    
            <h2>What payment methods are accepted on CyberCasino?</h2>
            <p>We only accept bank transfers to the following IBAN: IT12A1234512345123456789012.</p>
    
            <h2>What are the withdrawal times?</h2>
            <p>Withdrawals may take up to 5 business days to be processed.</p>
        </div>
    </div>
    
  
      <!-- Aggiungi qui gli altri elementi FAQ -->
  
  
</body>