body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.0);
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.0);
  }
  
  h1 {
    color: #fff;
    opacity: 0.9;
    font-size: xx-large;
    margin-bottom: 40px;
  }
  

  h2 {
    color: #fff;
    opacity: 0.9;
    font-size: large;

  }
  
  p {
    color: #fff;
    opacity: 0.9;
    font-size: medium;
    margin-bottom: 40px;
  }
  