<section class="">
    <!-- Footer -->

      <div class="text-center" id = 'text'>
     
                    <p style="margin-top: 25vh;">
                      Please note that it is intended exclusively for players aged 18 and older. Playing can be fun, but it can also lead to addiction.<br>
                      We are committed to promoting responsible gaming; however, we do not take responsibility for any consequences related to excessive use.<br>
                      Play responsibly.<br><br>
                    </p>
                  </div>

              </section>
