<!DOCTYPE html>
<html>


<body>




  <nav class="navbar navbar-expand-sm navbar-dark shadow-5-strong">
    <div class="d-flex justify-content-center w-100" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item mr-3">
          <a class="nav-link" [ngClass]="{'selected': selectedTab === 'ALL'}" (click)="selectTab('ALL')">ALL</a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" [ngClass]="{'selected': selectedTab === 'SLOTS'}" (click)="selectTab('SLOTS')">SLOTS</a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" [ngClass]="{'selected': selectedTab === 'OTHER'}" (click)="selectTab('OTHER')">OTHER</a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" [ngClass]="{'selected': selectedTab === 'DEMO'}" (click)="selectTab('DEMO')">DEMO</a>
        </li>

      </ul>
    </div>
  </nav>




  <div class='grid'>
    <div class="row">
      <div class="column" *ngFor="let immagine of immagini; let i = index">
        <ng-container *ngIf="isLoggedIn; else loginAlert">
          <a [routerLink]="['/', immagine.nome]">
            <img [src]="immagine.url" style="width:100%">
          </a>
        </ng-container>
        <ng-template #loginAlert>
          <div [routerLink]="['/login']" style="cursor: pointer;">
            <img [src]="immagine.url" style="width:100%">
          </div>
        </ng-template>
      </div>
    </div>
  </div>

</body>
</html>
