<!--   <div id="background-animation"> -->
  <div id="loading-wrapper">
    <div id="loading-text">LOADING</div>
    <div id="loading-content"></div>
    <div id="warning-container">
      <p id="warning-message">
        Benvenuto nella versione di prova del Blackjack! <br>
        Cliccando su "PLAY BLACKJACK DEMO", giocherai una versione di prova che non influenzerà il tuo saldo reale. <br>
        La versione completa sarà presto disponibile.
      </p>
      <button id="start-button">PLAY BLACKJACK DEMO</button>
    </div>
  </div>
<!--
</div> -->
