<!--   <div id="background-animation"> -->
  <div id="loading-wrapper">
    <div id="loading-text">LOADING</div>
    <div id="loading-content"></div>
    <div id="warning-container">
      <p id="warning-message">
        Welcome to the Blackjack Demo version!<br>
        By clicking on "PLAY BLACKJACK DEMO", you will play a trial version which will not affect your real balance.<br>
        The full version will be available soon.
      </p>
      <button id="start-button">PLAY BLACKJACK DEMO</button>
    </div>
  </div>
<!--
</div> -->
