


.my-container1{
    background-image: url("../../assets/SlotBg/TOPPP.png");
    background-size: cover;
    background-position: center center;
    }

#slotErnesto {
    width: 60vw;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

#slotErnesto img {
    max-width: 100%;
    max-height: 100%;
}

#balanceLablel{
    font-size: medium;
    position: absolute;
    top: 15%;
    left: 65%;
    width: 16vw;
    min-width: 140px;
    height: 6vh;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    line-height: 5vh;
}

#spinButton{
    position: absolute;
    width: 15vw;
    bottom: -11vh; 
    
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

.bet{
    position: absolute;
    width: 15vw;
    bottom: -11vh; 
    min-width: 200px;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 16px;

}

#labelBet{
    font-size: medium;
    color: white; /* Colore del testo */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}





